body{
    font-family: sans-serif;
    margin: 0;
}

header{
    display: flex;
    height: 10%;
    justify-content: space-between;
    background-color: #1a1b1b;
    text-align: center;
}

.logo img{
    height: 100px;
}

a{
    text-decoration: none;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
    color: #f6f6f6;
}

nav a:hover{
    color:#268181 ;
}

.Pie_Pagina{
    display: flex;
    width: 100%;
    background-color: #1a1b1b;
}

.facebook img{
    margin: 30px;
    height: 30px;
}
.instagram img{
    margin: 30px;
    height: 30px;
}
.Twitter img{
    margin: 30px;
    height: 30px;
}
.Universidad img{
    margin: 30px;
    height: 30px;
}

.redes{
    display: flex;
}

.Nosotros{
    font-family: sans-serif;
    color: #f6f6f6;
}

.txt{
    font-family: sans-serif;
    color:#268181;
    font-size: 10pt;
}

footer{
    height: 20%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.marca img{
    height: 100px;
}

main{
    min-width: 100%;
    min-height: 70%;
    position: absolute;
    background-color: #b0cfcf;
}

.cont-crud{
    width: 100%;
    height: calc(100vh -100px);
    display: flex;
    justify-content: center;
}


.cont-crud .div-formulario{
    width: 30%;
    height: 350px;
    margin: 15px 15px;
    background-color: rgb(135, 132, 132);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}

.cont-crud .div-formulario h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke;
}

.cont-crud .div-formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-crud .div-formulario form input,
.cont-crud .div-formulario form button {
    width: 60%;
    padding: 10px 10px;
    margin: 10px 10px;
}